<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>32</real>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Ship</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0026,0.2244 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>0.2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 85.500,112.000 }</string>	
								<string>{ 85.500,109.000 }</string>	
								<string>{ 88.500,112.000 }</string>
							</array>
							<array>	
								<string>{ 169.500,22.000 }</string>	
								<string>{ 170.500,17.000 }</string>	
								<string>{ 173.500,19.000 }</string>
							</array>
							<array>	
								<string>{ 61.500,95.000 }</string>	
								<string>{ 84.500,95.000 }</string>	
								<string>{ 85.500,109.000 }</string>	
								<string>{ 60.500,109.000 }</string>
							</array>
							<array>	
								<string>{ 97.500,73.000 }</string>	
								<string>{ 96.500,77.000 }</string>	
								<string>{ 84.500,77.000 }</string>	
								<string>{ 89.500,73.000 }</string>
							</array>
							<array>	
								<string>{ 145.500,-6.000 }</string>	
								<string>{ 152.500,-2.000 }</string>	
								<string>{ 155.500,8.000 }</string>	
								<string>{ 141.500,-2.000 }</string>
							</array>
							<array>	
								<string>{ 163.500,6.000 }</string>	
								<string>{ 155.500,8.000 }</string>	
								<string>{ 152.500,-2.000 }</string>	
								<string>{ 162.500,2.000 }</string>
							</array>
							<array>	
								<string>{ 82.500,77.000 }</string>	
								<string>{ 82.500,72.000 }</string>	
								<string>{ 89.500,73.000 }</string>	
								<string>{ 84.500,77.000 }</string>
							</array>
							<array>	
								<string>{ 179.500,19.000 }</string>	
								<string>{ 173.500,19.000 }</string>	
								<string>{ 170.500,17.000 }</string>	
								<string>{ 181.500,16.000 }</string>
							</array>
							<array>	
								<string>{ 17.500,14.000 }</string>	
								<string>{ 17.500,2.000 }</string>	
								<string>{ 26.500,-15.000 }</string>	
								<string>{ 48.500,-33.000 }</string>	
								<string>{ 122.500,-32.000 }</string>	
								<string>{ 141.500,-2.000 }</string>	
								<string>{ 91.500,8.000 }</string>	
								<string>{ 22.500,17.000 }</string>
							</array>
							<array>	
								<string>{ 22.500,24.000 }</string>	
								<string>{ 22.500,17.000 }</string>	
								<string>{ 25.500,17.000 }</string>	
								<string>{ 24.500,24.000 }</string>
							</array>
							<array>	
								<string>{ 181.500,16.000 }</string>	
								<string>{ 170.500,17.000 }</string>	
								<string>{ 106.500,13.000 }</string>	
								<string>{ 155.500,8.000 }</string>
							</array>
							<array>	
								<string>{ 155.500,8.000 }</string>	
								<string>{ 106.500,13.000 }</string>	
								<string>{ 105.500,8.000 }</string>	
								<string>{ 141.500,-2.000 }</string>
							</array>
							<array>	
								<string>{ 85.500,109.000 }</string>	
								<string>{ 84.500,95.000 }</string>	
								<string>{ 84.500,77.000 }</string>	
								<string>{ 89.500,77.000 }</string>	
								<string>{ 88.500,112.000 }</string>
							</array>
							<array>	
								<string>{ 82.500,72.000 }</string>	
								<string>{ 68.500,18.000 }</string>	
								<string>{ 91.500,8.000 }</string>	
								<string>{ 89.500,73.000 }</string>
							</array>
							<array>	
								<string>{ 68.500,18.000 }</string>	
								<string>{ 25.500,17.000 }</string>	
								<string>{ 91.500,8.000 }</string>
							</array>
							<array>	
								<string>{ 105.500,8.000 }</string>	
								<string>{ 91.500,8.000 }</string>	
								<string>{ 141.500,-2.000 }</string>
							</array>
							<array>	
								<string>{ 22.500,17.000 }</string>	
								<string>{ 91.500,8.000 }</string>	
								<string>{ 25.500,17.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>ShipFlipped</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0017,0.2244 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>0.2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 23.670,22.000 }</string>	
								<string>{ 17.670,19.000 }</string>	
								<string>{ 22.670,17.000 }</string>
							</array>
							<array>	
								<string>{ 29.670,6.000 }</string>	
								<string>{ 31.670,1.333 }</string>	
								<string>{ 39.670,-2.000 }</string>	
								<string>{ 50.670,-2.000 }</string>	
								<string>{ 86.670,8.000 }</string>	
								<string>{ 86.670,14.000 }</string>	
								<string>{ 53.670,12.000 }</string>	
								<string>{ 36.670,8.000 }</string>
							</array>
							<array>	
								<string>{ 165.670,24.000 }</string>	
								<string>{ 165.670,18.000 }</string>	
								<string>{ 169.670,17.000 }</string>	
								<string>{ 169.670,24.000 }</string>
							</array>
							<array>	
								<string>{ 109.670,77.000 }</string>	
								<string>{ 106.670,77.667 }</string>	
								<string>{ 102.670,77.000 }</string>	
								<string>{ 101.670,73.000 }</string>	
								<string>{ 109.337,72.333 }</string>
							</array>
							<array>	
								<string>{ 46.670,-6.000 }</string>	
								<string>{ 50.670,-2.000 }</string>	
								<string>{ 39.670,-2.000 }</string>
							</array>
							<array>	
								<string>{ 94.670,73.000 }</string>	
								<string>{ 101.670,73.000 }</string>	
								<string>{ 102.670,77.000 }</string>	
								<string>{ 94.670,77.000 }</string>
							</array>
							<array>	
								<string>{ 131.670,109.000 }</string>	
								<string>{ 106.670,109.000 }</string>	
								<string>{ 106.670,96.000 }</string>	
								<string>{ 130.670,96.000 }</string>
							</array>
							<array>	
								<string>{ 105.670,112.000 }</string>	
								<string>{ 103.670,112.500 }</string>	
								<string>{ 102.670,77.000 }</string>	
								<string>{ 106.670,77.667 }</string>	
								<string>{ 106.670,109.000 }</string>
							</array>
							<array>	
								<string>{ 70.670,-33.000 }</string>	
								<string>{ 144.670,-33.000 }</string>	
								<string>{ 165.670,-14.000 }</string>	
								<string>{ 169.670,17.000 }</string>	
								<string>{ 165.670,18.000 }</string>	
								<string>{ 101.670,8.000 }</string>	
								<string>{ 50.670,-2.000 }</string>
							</array>
							<array>	
								<string>{ 11.670,19.000 }</string>	
								<string>{ 10.670,17.000 }</string>	
								<string>{ 36.670,8.000 }</string>	
								<string>{ 22.670,17.000 }</string>	
								<string>{ 17.670,19.000 }</string>
							</array>
							<array>	
								<string>{ 174.670,9.000 }</string>	
								<string>{ 169.670,17.000 }</string>	
								<string>{ 165.670,-14.000 }</string>
							</array>
							<array>	
								<string>{ 22.670,17.000 }</string>	
								<string>{ 36.670,8.000 }</string>	
								<string>{ 53.670,12.000 }</string>
							</array>
							<array>	
								<string>{ 109.337,72.333 }</string>	
								<string>{ 101.670,73.000 }</string>	
								<string>{ 101.670,8.000 }</string>	
								<string>{ 122.670,18.000 }</string>
							</array>
							<array>	
								<string>{ 122.670,18.000 }</string>	
								<string>{ 101.670,8.000 }</string>	
								<string>{ 165.670,18.000 }</string>
							</array>
							<array>	
								<string>{ 86.670,8.000 }</string>	
								<string>{ 50.670,-2.000 }</string>	
								<string>{ 101.670,8.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>Submarine</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5003,0.2979 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>1.02</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -68.550,16.500 }</string>	
								<string>{ -75.050,6.000 }</string>	
								<string>{ -67.550,-7.000 }</string>	
								<string>{ -64.550,1.000 }</string>	
								<string>{ -63.894,9.361 }</string>
							</array>
							<array>	
								<string>{ 19.450,32.000 }</string>	
								<string>{ 15.450,15.000 }</string>	
								<string>{ 31.450,14.000 }</string>	
								<string>{ 26.950,32.000 }</string>
							</array>
							<array>	
								<string>{ -64.550,1.000 }</string>	
								<string>{ -25.550,-13.500 }</string>	
								<string>{ 55.450,-9.000 }</string>	
								<string>{ 74.450,1.000 }</string>	
								<string>{ 74.450,4.000 }</string>	
								<string>{ 31.450,14.000 }</string>	
								<string>{ 15.450,15.000 }</string>	
								<string>{ -63.894,9.361 }</string>
							</array>
							<array>	
								<string>{ 53.114,12.025 }</string>	
								<string>{ 31.450,14.000 }</string>	
								<string>{ 74.450,4.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>SubmarineFlipped</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5047,0.2979 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>1.02</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 67.800,16.000 }</string>	
								<string>{ 62.800,9.000 }</string>	
								<string>{ 62.800,1.000 }</string>	
								<string>{ 67.800,-7.000 }</string>	
								<string>{ 73.300,6.000 }</string>
							</array>
							<array>	
								<string>{ -20.200,32.000 }</string>	
								<string>{ -28.200,32.000 }</string>	
								<string>{ -32.200,13.000 }</string>	
								<string>{ -16.200,15.000 }</string>
							</array>
							<array>	
								<string>{ 62.800,1.000 }</string>	
								<string>{ 62.800,9.000 }</string>	
								<string>{ -16.200,15.000 }</string>	
								<string>{ -32.200,13.000 }</string>	
								<string>{ -75.200,4.000 }</string>	
								<string>{ -75.200,1.000 }</string>	
								<string>{ -49.200,-9.500 }</string>	
								<string>{ 22.800,-13.500 }</string>
							</array>
							<array>	
								<string>{ -54.913,12.025 }</string>	
								<string>{ -75.200,4.000 }</string>	
								<string>{ -32.200,13.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
		</dict>
	</dict>
</plist>

